.pio
.vscode

examples/PingPongPio/test/

examples/PingPongPio/lib/

examples/PingPongPio/.vscode

examples/LoRaWanPio/test/

examples/LoRaWanPio/lib/

examples/LoRaWanPio/.vscode

examples/DeepSleepPio/test/

examples/DeepSleepPio/lib/

examples/DeepSleepPio/.vscode

*.DB
.DS_Store
